*{
    /* background-image: url(../images/signBack.jpg); */
}

/* The styling for sign-in / sign-up / forgetPassword is same */
/* It is the main container */
body{
    background-image: url('/images/bg-texture.png');
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #E9EBEE;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 30vw;
    height: 60vh;
    width: 40vw;
    border: 1px solid black;
}
/* The main container is divided into two part */
.companyLogo{ 
    background-color:#a70021;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    width: 25%;
    
}
/* Company Logo,  */
.companyLogo img{
   width:250px;
   transform: rotate(-90deg);
}

.formInput{
    background-image: url('/images/bg-texture.png');
    background-position: center;
    background-size: cover;
    background-color:white;
    height: 100%;
    width: 75%;
}

.formInput form{
   margin-left: 10px;
}

form input{
    width: 90%;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
}
.formInput h3, h1{
    text-align: center;
    margin: auto;
}
/* Styling for the button, and submit button */
.buttons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
.buttons A{
    text-decoration: none;

}
.submitButtons{
    width:35%;
}

.submitButtons button{
    width: 100%;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    background-color: #a70021;
}

.alterOption{
    margin-top: 10px;
}